<tr>
  <td><%=order.id %></td>
  <td with = "30%" ><%=order.updated_at %></td>
  <!-- <td>
    <%= link_to "Delete", order_path(order),
    method: :delete, data: {confirm: "Are you sure"} %>
  </td> -->
  <td><%=order.status %></td>
</tr>
