<div class="shopping-cart">
  <%= render "shopping_cart" %>
  <h4 class="text-right"><%= t".total_price"%><span style="color: green"><%= number_to_currency current_order.total_price %></span></h4>
</div>
