@import 'bootstrap-sprockets';
@import 'bootstrap';

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;

/* universal */
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* product */
body,
html {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #f7f7f7;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-centerY-centerX {
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-wrapper {
  height: 100%;
  display: table;
}

.page-wrapper .page-inner {
  display: table-cell;
  vertical-align: middle;
}

.box-wrapper {
  width: 360px;
  height: 300px;
  margin: 15px auto;
  padding: 45px 120px 0 45px;
  padding-right: 120px;
  background-color: #fff;
  position: relative;
}

@media (max-width: 991px) {
  .box-wrapper {
    width: 345px;
  }
}

@media (max-width: 767px) {
  .box-wrapper {
    width: 290px;
    height: 280px;
    margin: 30px auto;
    padding-left: 25px;
  }
}

.box-wrapper:hover .box-info {
  -webkit-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  padding-top: 0;
  opacity: 1;
}

.box-wrapper:hover .product-img {
  -webkit-transform: scale(0.73);
  -ms-transform: scale(0.73);
  -o-transform: scale(0.73);
  transform: scale(0.73);
  left: -15%;
  top: 60%;
}

.box-wrapper:hover .right-column:before {
  right: 100%;
}

.box-wrapper.leave .box-info {
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  padding-top: 0;
  opacity: 0;
}

.box-wrapper .product-img {
  width: 245px;
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
}

@media (max-width: 767px) {
  .box-wrapper .product-img {
    max-width: 190px;
  }
}

.right-column {
  width: 120px;
  height: 100%;
  background-color: #e7e7e7;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
}

@media (max-width: 767px) {
  .right-column {
    width: 85px;
  }
}

.right-column:before {
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  width: auto;
  height: auto;
  content: "";
  display: block;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.box-info {
  padding-top: 50px;
  opacity: 0;
}

.box-info .main-title {
  margin: 0 0 0 10px;
  font-size: 22px;
  font-weight: 900;
  color: #9b9b9b;
  line-height: 24px;
  letter-spacing: 0.025em;
}

.box-info .sub-title {
  margin: 0 0 25px 10px;
  font-size: 18px;
  font-weight: 900;
  font-style: italic;
  color: #bbbbbb;
  line-height: 24px;
  letter-spacing: 0.025em;
}

.box-info .link {
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  padding: 0 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  color: #3f96cd;
  letter-spacing: 0.050em;
  text-decoration: none;
  position: relative;
}

.box-info .link:hover {
  color: #f88a00;
}

.box-info .link:hover:before {
  -webkit-transition: all 0.05s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.05s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.05s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.05s cubic-bezier(0.215, 0.61, 0.355, 1);
  left: 0;
}

.box-info .link:hover:after {
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  left: 105%;
  right: -70px;
  background-color: #f88a00;
}

.box-info .link:before {
  -webkit-transition: all 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  width: auto;
  height: 1px;
  content: "";
  display: block;
  background-color: #808080;
  position: absolute;
  top: 50%;
  left: -16px;
  right: 100%;
  transform: translateY(-50%);
  -ms-transformtransform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.box-info .link:after {
  -webkit-transition: all 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  width: auto;
  height: 1px;
  content: "";
  display: block;
  background-color: #808080;
  position: absolute;
  top: 50%;
  left: 100%;
  right: 0;
  transform: translateY(-50%);
  -ms-transformtransform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.size-list {
  margin: 0;
  padding: 47px 0 110px 0;
}

@media (max-width: 767px) {
  .size-list {
    padding-bottom: 100px;
  }
}

.size-list .list-item {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #bababa;
  letter-spacing: 0.050em;
  list-style: none;
}

.price {
  font-size: 23px;
  font-weight: 900;
  color: #ef5350;
}

.price .currency {
  font-weight: 300;
}

