.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  height:473px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.pd-product-item{
  padding-top: 40px;
}
.pd-search{
  padding: 30px;
}
.bd-top-index{
  padding-top:10px;
}
.description-long-product{
  with:300px;
  height:104px;
}
.div-button-card{
  max-width: 300px;
  height: 170px;
}
