<div class="container page-wrapper">
  <div class="page-inner">
    <div class="row">
      <% if params[:page] == "1" or params[:page].blank? %>
      <%= render "products/hot_trending" %>
      <% end %>
      <h2><b>Products</b></h2>
      <%= render @products %>
    </div>
  </div>
</div>
<%= will_paginate %>
