<div class="container page-wrapper">
  <div class="page-inner">
    <div class="row">
    <%= render "products/slider_search_box" %>
    <%= render @products %>
    </div>
  </div>
</div>
<%= will_paginate %>
