<footer class="footer">
  <small>
   <%= t(".content_small") %>
  </small>
  <nav>
    <ul>
     <li><%= link_to t(".home"), home_path %></li>
     <li><%= link_to t(".help"), help_path %></li>
     <li><%= link_to t(".login"), "#" %></li>
    </ul>
  </nav>
</footer>
